

.hero-section{
	padding-top:120px;
	font-family:$font-dm-sans;

	@include media("<desktop"){
		text-align:center;
	}

	.hero-eyebrow{
		font-size:24px;
		color:$color-primary-blue;
		padding-bottom:10px;

		.highlight-orange{
			color:$color-orange;
			font-weight:$fw-bold;
		}
	}

	.hero-title{
		color:$color-primary-blue;
		font-family:$font-poppins;
		margin-bottom:32px;


		@include media("<desktop"){	
			font-size:40px;
		}
	}

	.hero-description{
		margin-bottom:16px;
	}

	.special-offer-card{
		margin-bottom:16px;

		img{
			max-width:310px;
			width:100%;
			margin-bottom:16px;
			border-radius:24px;

			@include media("<desktop"){
				margin:0 auto 16px;
			}
		}
	}

	.offer-info{
		font-weight:$fw-semi-bold;
		font-size:18px;


		p{
			padding-bottom:10px;

			&:last-of-type{
				padding-bottom:0;
			}
		}

		.offer-disclaimer{
			color:$color-orange;
		}
	}
}