.intro {
  color: $white;
  padding: 60px 0;
  font-family: $font-mono;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0;
  gap: 40px;
  @include fadeIn(2s);

  .intro-text{
    font-size: 1.2em;
    margin: 15px 0;
    color: $white;
    width:60%;

    p{ 
      &::before {
        content: '> ';
        color: $highlight-color;
        font-weight: bold;
      }
    }
  }

  .intro-image{
    width:40%;

    .img{
      width:100%;
      border-radius: 100%;
      max-width:444px;
      min-height:444px;
      max-height:444px;
      background-size:cover;
      background-position:center;
    }
  }

  .highlight {
    color: $highlight-color;
    font-weight: bold;
    text-shadow: 0 0 2px $highlight-color, 0 0 4px $highlight-color;
  }
}