.intro {
  color: $white;
  padding: 60px 0;
  font-family: $font-mono;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1000px;
  margin: auto;
  padding: 40px;
  gap: 40px;
  flex-wrap: wrap;
  @include fadeIn(2s);

  .intro-text{
    font-size: 1.2em;
    margin: 15px 0;
    color: #ccc;

    p{ 
      &::before {
        content: '> ';
        color: $highlight-color;
        font-weight: bold;
      }
    }
  }

  .highlight {
    color: $highlight-color;
    font-weight: bold;
    text-shadow: 0 0 2px $highlight-color, 0 0 4px $highlight-color;
  }
}