* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $bg-color;
  color: $text-color;
  font-family: $font-sans;
  line-height: 1.6;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100vh;
  overflow: hidden;
  animation: gradientAnimation 5s ease-in-out infinite;
}

html {
  scroll-behavior: smooth; /* Enables smooth scrolling across sections */
}

#fp-nav ul li a span, 
.fp-slidesNav ul li a span{
  background:#ccc;
}

.container{
  width:80%;
  margin:0 auto;
}

h1,h2,h3,h4,h5,h6{
  font-family:$font-mono;
}

h2{
  font-size:2.5rem;
}

footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 12px;
  padding: 30px;
  animation: gradientAnimation 5s ease-in-out infinite;
}